<div class="box">
    <h6 class="title is-6">My Flights</h4>
      <% if (Object.keys(myHangarData.flightsData).length === 0) { %>
        <div class="content has-text-centered">
          <p class="text-center">No data registered</p>
          <a href="/startFlying"><button class="button is-link">Start Flying</button></a>
        </div> 
      <%} else {%>

      <%}%>
  </div>