<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="SocialDrone is a open source web app for drone enthusiasts">
  <meta name="author" content="Mariops99">
  <title>SocialDrone</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/solid.css" integrity="sha384-LA8Ug4T/nhVkyhrSmSirsoAo9iDrBk8E7U80aSPeD+w3vO8PzOJIS6agGcbIwwX0" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/fontawesome.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/brands.css" integrity="sha384-V5Z1KgRRJyY878qCx7+zUeTDm0FgjoYrbmSortFqRPGz+Ue6XDe4uIiMqB3tB/wd" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/fontawesome.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
  <link rel="icon" href="favicon.ico">
</head>
<body>
  <div>
    <div class="columns is-multiline">
    </div>
    <nav class="navbar py-4">
      <div class="container is-fluid">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <h1 class="subtitle">Just Fly!</h1>
          </a>
          <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span> 
          </a>
        </div>
        <div class="navbar-menu">
        <div class="navbar-start"></div>
        <div class="navbar-item">
          <div class="field has-addons">
            <a class="button is-link is-inverted" href="/start">Sign In</a> <br>
            <button class="button"><a href="/newPilot">New Pilot</a></button>
          </div>

      </div>
    </nav>

    <section class="section">
      <div class="container">
        <div class="mb-6 pb-3 columns is-multiline">
          <div class="column is-12 is-6-desktop mx-auto has-text-centered">

            <h2 class="mb-4 is-size-1 is-size-3-mobile has-text-weight-bold">SocialDrone</h2>
            <p class="subtitle has-text-grey mb-5">Hi Pilot! Let Social Drone manage all the stuff... SocialDrone will locate all your licenses, all your pilot data and your insurace coverage data. Just focus on your flights and share them with the world! See you in the sky!</p>

          </div>
        </div>
        <div class="columns is-multiline">
          <div class="column is-12 is-4-desktop">

            <div class="mb-6 is-flex">
              <div class="ml-3">
                <h4 class="is-size-4 has-text-weight-bold mb-2">Checklist</h4>
                <p class="subtitle has-text-grey">We manage a checklist to verify everything just before your flights.</p>
              </div>
            </div>

            <div class="mb-6 is-flex">
              <span></span>
              <div class="ml-3">
                <h4 class="is-size-4 has-text-weight-bold mb-2">Licenses</h4>
                <p class="subtitle has-text-grey">You can save all your licenses to keep them in one place.</p>
              </div>
            </div>

            <div class="mb-6 is-flex">
              <span></span>
              <div class="ml-3">
                <h4 class="is-size-4 has-text-weight-bold mb-2">Drone Register</h4>
                <p class="subtitle has-text-grey">You can register every drone you have and their insurence coverage!</p>
              </div>
            </div>
          </div>

          <div class="column is-4 is-block-desktop is-hidden-touch">
            <img class="mx-auto mt-0-widescreen is-block image" src="/img/drone_race.svg" alt="Drone Race">
          </div>

          <div class="column is-12 is-4-desktop">
            <div class="mb-6 is-flex">
              <span></span>
              <div class="ml-3">
                <h4 class="is-size-4 has-text-weight-bold mb-2">Register your flights</h4>
                <p class="subtitle has-text-grey">We all want to remember our best flights so you can save them and much more!</p>
              </div>
            </div>

            <div class="mb-6 is-flex">
              <span></span>
              <div class="ml-3">
                <h4 class="is-size-4 has-text-weight-bold mb-2">Share</h4>
                <p class="subtitle has-text-grey">Share your flights with other pilots around the world!</p>
              </div>
            </div>

            <div class="mb-6 is-flex">
              <span></span>
              <div class="ml-3">
                <h4 class="is-size-4 has-text-weight-bold mb-2">Discover</h4>
                <p class="subtitle has-text-grey">Follow other pilots and discover new places to fly! Discover the world!</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <footer class="section">
      <div class="container">
        <div class="pb-5 is-flex is-flex-wrap-wrap is-justify-content-between is-align-items-center">

          <div class="mr-auto mb-2">
            <a class="is-inline-block" href="/">
              <h1 class="subtitle">SocialDrone</h1>
          </div>
  
        </div>
      </div>

      <div class="pt-5" style="border-top: 1px solid #dee2e6;"></div>
      <div class="container">

        <div class="is-flex-tablet is-justify-content-between is-align-items-center">
          <p>All rights reserved © SocialDrone</p>
          <div class="py-2 is-hidden-tablet"></div>
        </div>

      </div>
    </footer>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
        const menus = document.querySelectorAll('.navbar-burger');
        const dropdowns = document.querySelectorAll('.navbar-menu');

        if (menus.length && dropdowns.length) {
            for (var i = 0; i < menus.length; i++) {
                menus[i].addEventListener('click', function() {
                    for (var j = 0; j < dropdowns.length; j++) {
                        dropdowns[j].classList.toggle('is-active');
                    }
                });
            }
        }
    });
  </script>

</body>
</html>